---
layout: default
---

{% include base_path %}

<article class="page-article" itemscope itemtype="http://schema.org/CreativeWork">

  {% if page.title and page.title != "" %}
    <header class="page-article__header">
      <h1 class="page-article__title" itemprop="headline">
        {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
      </h1>
      {% if page.collection == 'teaching' %}
        <p class="page-article__meta">{{ page.type }}, <em>{{ page.venue }}</em>, {{ page.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% elsif page.venue and page.date %}
        <p class="page-article__meta">Published in <em>{{ page.venue }}</em>, {{ page.date | default: "1900-01-01" | date: "%Y" }}</p>
      {% elsif page.date %}
        <p class="page-article__meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
      {% endif %}
      {% if page.citation and page.paperurl %}
        <p class="page-article__meta">Recommended citation: {{ page.citation }} <a href="{{ page.paperurl }}">{{ page.paperurl }}</a></p>
      {% elsif page.citation %}
        <p class="page-article__meta">Recommended citation: {{ page.citation }}</p>
      {% endif %}
    </header>
  {% endif %}

  <section class="page__content" itemprop="text">
    {{ content }}
  </section>

</article>
